.read{
	font-size: 25px;
	color: #FF6600;
}
.read:hover{
	font-size: 25px;
	color: #FF6600;
}

.equal-height-col{
	display: -webkit-box ;
	display: -webkit-flex ;
	display: -ms-flexbox ;
	display: flex;
	flex-wrap: wrap;
}
.tox-notifications-container{
	display: none;
}

.form-control{
	border-radius: 0;
}


.s-box{
	display: none;
}

.equal-content{
	height: 100%;
}

.detail{
	margin-left: 3%;
}

.title{
	font-size: 15px;
	color: #FF6600;
	font-weight: bold;
}

.act{
	background-color: white;
	border-radius: 10%;
}

.singkat{
	text-align: justify;
	font-size: 14px;
}


.dash-link{
	display: block;
	padding: 6px;
	margin-bottom: 6px;
	text-decoration: none;
	color: black;
}

.dash-link:hover{
	color: black;
	border-radius: 5px;
	text-decoration: none;
	background-color: #d2ecf9;
	transition: 0.2s;
}

.nav-link{
	margin-right: 10px;
}

.nav-link:hover{
	background-color: white;
	transition: 0.2s;
	border-radius: 10%;
}

.pagination{
	
	justify-content: center;
}

@media (max-width: 575.98px) { 

.pagination{

	justify-content: center;
}

.s-box{
	display: block;
}

.list{
	border-top: 1px solid grey;
	margin-top: 10px;
}

.nav-link:hover{
	background-color: white;
	transition: 0.2s;
	border-radius: 0;
}

.imgcom{
	display: none;
}

.dp{
	display: none;
}
.read{
	font-size: 16px;
}

.read:hover{
	font-size: 16px;
}

.singkat{
	display: none;
}

}